dot-nodered/flows_sse.json
[{"id":"bea51e36.a5961","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"848d637b.4b744","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ffa68ae0.6ef4d8","type":"inject","z":"bea51e36.a5961","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["6c31e52f.3ce59c"]]},{"id":"6bb157cb.4a50d8","type":"advanced-feed-parser","z":"bea51e36.a5961","name":"","interval":15,"group":true,"urls":"https://rssbridge.rpi.tooon.duckdns.org/?action=display&bridge=LeBonCoin&keywords=Lave+vaisselle&region=6&department=35&cities=Rennes&category=20&pricemin=&pricemax=&estate=&roomsmin=&roomsmax=&squaremin=&squaremax=&mileagemin=&mileagemax=&yearmin=&yearmax=&cubiccapacitymin=&cubiccapacitymax=&fuel=&owner=&format=Atom,https://joaoapps.com/feed/","x":530,"y":80,"wires":[["96cf4bb9.225798"]]},{"id":"96cf4bb9.225798","type":"debug","z":"bea51e36.a5961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"6c31e52f.3ce59c","type":"change","z":"bea51e36.a5961","name":"not grouped","rules":[{"t":"set","p":"feedUrls","pt":"msg","to":"https://rssbridge.rpi.tooon.duckdns.org/?action=display&bridge=LeBonCoin&keywords=Lave+vaisselle&region=6&department=35&cities=Rennes&category=20&pricemin=&pricemax=&estate=&roomsmin=&roomsmax=&squaremin=&squaremax=&mileagemin=&mileagemax=&yearmin=&yearmax=&cubiccapacitymin=&cubiccapacitymax=&fuel=&owner=&format=Atom,https://joaoapps.com/feed/","tot":"str"},{"t":"set","p":"seen","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"feedGroup","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":80,"wires":[["6bb157cb.4a50d8","96cf4bb9.225798"]]},{"id":"5be1bf04.3604f","type":"inject","z":"bea51e36.a5961","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["4513dba2.c87f44"]]},{"id":"4513dba2.c87f44","type":"change","z":"bea51e36.a5961","name":"grouped","rules":[{"t":"set","p":"feedUrls","pt":"msg","to":"https://rssbridge.rpi.tooon.duckdns.org/?action=display&bridge=LeBonCoin&keywords=Lave+vaisselle&region=6&department=35&cities=Rennes&category=20&pricemin=&pricemax=&estate=&roomsmin=&roomsmax=&squaremin=&squaremax=&mileagemin=&mileagemax=&yearmin=&yearmax=&cubiccapacitymin=&cubiccapacitymax=&fuel=&owner=&format=Atom,https://joaoapps.com/feed/","tot":"str"},{"t":"set","p":"seen","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"feedGroup","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":180,"wires":[["6bb157cb.4a50d8","96cf4bb9.225798"]]},{"id":"2675c06d.b530f","type":"http in","z":"848d637b.4b744","name":"","url":"/rss","method":"get","upload":false,"swaggerDoc":"","x":70,"y":120,"wires":[["3d054a40.6d1ee6"]]},{"id":"3d054a40.6d1ee6","type":"change","z":"848d637b.4b744","name":"","rules":[{"t":"set","p":"feedUrls","pt":"msg","to":"https://joaoapps.com/feed/","tot":"str"},{"t":"set","p":"seen","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":120,"wires":[["44c08a5e.1a7154","d072cdd4.06652"]]},{"id":"6698d6fc.6a0958","type":"template","z":"848d637b.4b744","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload:\n    <ul>\n        {{#article}}\n            <li>{{title}}\n            <img src=\"{{image.url}}\" /></li>\n        {{/article}}\n    </ul>","output":"str","x":140,"y":260,"wires":[["47ec5b40.47bc34"]]},{"id":"d072cdd4.06652","type":"debug","z":"848d637b.4b744","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":260,"wires":[]},{"id":"44c08a5e.1a7154","type":"advanced-feed-parser","z":"848d637b.4b744","name":"","interval":"-1","group":true,"urls":"","x":510,"y":120,"wires":[["d072cdd4.06652","6698d6fc.6a0958"]]},{"id":"eb96df99.daff7","type":"inject","z":"848d637b.4b744","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["3d054a40.6d1ee6"]]},{"id":"47ec5b40.47bc34","type":"http response","z":"848d637b.4b744","name":"","statusCode":"","headers":{},"x":290,"y":260,"wires":[]}]